@import "../../../styles/styles.scss";


/* The Modal (background) */
:host {
    display: block !important;
  position: fixed; /* Stay in place */
  z-index: 999; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
:host .modal-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-around;
  position: relative;
  overflow: hidden;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  height: 400px;
  width: calc(100% - 40px);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  border-radius: 2px;
}

@include breakpoint($small_screen) {
  :host .modal-content { 
    height: 600px;
    width: 600px;
  }
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}


:host .modal-content h3 {
    @extend %header-text;
  @extend %clear-margin;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 70px;
  width: calc(100% - 40px);
  padding: 20px 20px 10px 20px;
  color: black;
  font-size: 1.4rem;
}

:host .modal-content h2 {
@extend %header-text;
  @extend %clear-margin;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 50px;
  width: calc(100% - 40px);
  padding: 0px 20px 30px 20px;
  color: darkred;
  font-size: 1.5rem;
}

:host .modal-content button {
  @extend %header-text;
  font-size: 1.3rem;
  background-color: white;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 120px;
  height: 50px;

    text-transform: uppercase;
    outline: 0;
    border: 0;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}
