<div class="features-splash">
    <h1 class="splash-text">
        Get to know SMART
    </h1>
    <div class=bg-wrapper>
      <div class="bgimg-1" [style.background-image]="getBackgroundImageCSS(featuresSplash)">
      </div>
    </div>
</div>


<div class="project-management feature-section">
  <div class="feature-content">
    <div class="feature-header">
      <h2>Project Management</h2>
    </div>
    <p>Import projects from your design software or add them directly from your SMART Library. With all of SMARTS pricing feature,
      any products added will get priced automatically and accurately. Once the job is ready, a few more clicks and you’ve
      created purchase orders and sent work orders to the shop floor.</p>
    <div class="secondary-features">
      <div class="secondary-feature">
        <h3>Bids</h3>
        <p>Create bids quickly and SMART can reserve the production time in your schedule.</p>
      </div>
      <div class="secondary-feature">
        <h3>Estimating</h3>
        <p>Estimate using prices from your SMART library or on a cost plus bases. With numerous additional pricing features,
          SMART ensures you get all the flexibility and control required to estimate a job accurately.</p>
      </div>
      <div class="secondary-feature">
        <h3>Project Creation</h3>
        <p>Import a project from your design software or create it directly within SMART using the product Library. You can
          Attach any documentation necessary to easily be viewed from any workstation.</p>
      </div>
      <div class="secondary-feature">
        <h3>Transferring Project To Production</h3>
        <p>With the click of a button, transfer all necessary materials to purchasing and create individual Work Orders for
          each production station.</p>
      </div>
      <div class="secondary-feature">
        <h3>Project Tracking</h3>
        <p>Every stage of a job can be tracked within SMART. You can view real time progress of all your projects at any production
          station and have a break down of all materials and/or labour that went into every product.</p>
      </div>
      <div class="secondary-feature">
        <h3>Non Conformance</h3>
        <p>Request any missing/damaged parts or Change Orders directly from within SMART and from our online web application.
          Engineering will immediately be notified of the request.</p>
      </div>

    </div>
  </div>
</div>

<div class=bg-wrapper>
  <div class="bgimg-2" [style.background-image]="getBackgroundImageCSS(feature1)">
  </div>
</div>

<div class="material-management feature-section">
  <div class="feature-content">
    <div class="feature-header">
      <h2>Material Management</h2>
    </div>
    <p>Automatically generate accurate POs with SMARTS numerous vendor and material pricing options. Whether you want to keep
      the material in inventory or receive it in time for your projects SMART will let you know when to order to make sure
      you receive it on time. Get a detailed view of all materials used, ordered and needed for upcoming jobs.</p>
    <div class="secondary-features">
      <div class="secondary-feature">
        <h3>Material Pricing</h3>
        <p>With many material pricing options and the ability to associate these to individual suppliers, your POs will always
          be accurate.</p>
      </div>
      <div class="secondary-feature">
        <h3>Purchasing</h3>
        <p>Whether you keep some material in stock or purchase only what is necessary for a job, SMART will let you know what
          to order and when. Your Purchase Orders can then be Printed, emailed and/or sent automatically to Quickbooks.</p>
      </div>
      <div class="secondary-feature">
        <h3>Inventory Management</h3>
        <p>Get an in depth look at your inventory and find out what was used yesterday, what's left today and what you will
          need tomorrow.</p>
      </div>
    </div>
  </div>
</div>

<div class=bg-wrapper>
  <div class="bgimg-3" [style.background-image]="getBackgroundImageCSS(feature2)">
  </div>
</div>

<div class="production-management feature-section">
  <div class="feature-content">
    <div class="feature-header">
      <h2>Production Management</h2>
    </div>
    <p>Instantly create production schedules taking into account your shops manufacturing capacity and restraints. Each production
      station can view their schedule, work orders and any other information you chose to include. Every Part can be tracked
      throughout production stations to ensure you never ship a job incomplete.</p>
    <div class="secondary-features">
      <div class="secondary-feature">
        <h3>Scheduling</h3>
        <p>Taking into account your manufacturing capacity and constraints, SMART creates an accurate production schedule to
          ensure you never ship a project late.</p>
      </div>
      <div class="secondary-feature">
        <h3>Production Stations</h3>
        <p>Customize production stations to suit your workflow, whether you want to display all relevant data or just what is
          needed. Users can clock in and out directly from their work station.</p>
      </div>
      <div class="secondary-feature">
        <h3>Production Tracking</h3>
        <p>Use the Factory Floor Monitor to follow the current status of all active work orders and employees at all production
          stations in real time. Keep track of exactly how much time and material is going into every job.</p>
      </div>
    </div>
  </div>
</div>

<div class=bg-wrapper>
  <div class="bgimg-4" [style.background-image]="getBackgroundImageCSS(feature3)">
  </div>
</div>

<div class="contact-management feature-section">
  <div class="feature-content">
    <div class="feature-header">
      <h2>Contact Management</h2>
    </div>
    <p></p>
    <div class="secondary-features">
      <div class="secondary-feature">
        <h3>Employees</h3>
        <p>A convenient location to store and bring up any employee information, Safety incidents, Training Reports and Correspondence
          records.</p>
      </div>
      <div class="secondary-feature">
        <h3>Vendors</h3>
        <p>A location to keep all of your vendors addresses, contacts, tax settings and any other additional information organised.</p>
      </div>
    </div>
  </div>
</div>

<div class=bg-wrapper>
  <div class="bgimg-5" [style.background-image]="getBackgroundImageCSS(feature4)">
  </div>
</div>

<div class="reporting feature-section">
  <div class="feature-content">
    <div class="feature-header">
      <h2>Reporting</h2>
    </div>
    <p>SMART has numerous system reports at your disposal or create your own custom reports utilising any of the data within
      SMART.
    </p>
  </div>
</div>

<div class=bg-wrapper>
  <div class="bgimg-6" [style.background-image]="getBackgroundImageCSS(feature6)">
  </div>
</div>
